<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/layout :: head('Calendar | TailAdmin')}">
    <meta charset="UTF-8" />
  </head>
  <body
    x-data="{ page: 'calendar', 'loaded': true, 'darkMode': false, 'stickyMenu': false, 'sidebarToggle': false, 'scrollTop': false }"
    x-init="
         darkMode = JSON.parse(localStorage.getItem('darkMode'));
         $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))"
    :class="{'dark bg-gray-900': darkMode === true}"
  >
    <th:block th:replace="~{partials/preloader}"></th:block>

    <div class="flex h-screen overflow-hidden">
      <th:block th:replace="~{partials/sidebar}"></th:block>

      <div
        class="relative flex flex-1 flex-col overflow-y-auto overflow-x-hidden"
      >
        <th:block th:replace="~{partials/overlay}"></th:block>
        <th:block th:replace="~{partials/header}"></th:block>

        <main>
          <div class="mx-auto max-w-(--breakpoint-2xl) p-4 md:p-6">
            <div x-data="{ pageName: `Calendar`}" th:with="pageName='Calendar'">
              <th:block th:replace="~{partials/breadcrumb}"></th:block>
            </div>

            <div
              class="rounded-2xl border border-gray-200 bg-white dark:border-gray-800 dark:bg-white/[0.03]"
            >
              <div id="calendar" class="min-h-screen"></div>
            </div>

            <th:block
              th:replace="~{partials/calendar-event-modal}"
            ></th:block>
          </div>
        </main>
      </div>
    </div>

    <th:block th:replace="~{fragments/layout :: scripts}"></th:block>
  </body>
</html>
